html {
  font-size: 16px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family: "ZCOOL KuaiLe", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
  background-color: #8785a2;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #ffc7c7;
  text-shadow: 3px 3px 1px #ffe2e2;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 1200px;
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
